body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: calc(24/16);
	letter-spacing: 0.02em;
	color: #434455;
	background-color: #FFFFFF;
}

ul,
ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.visually-hidden {
	/* width: 1px;
	height: 1px; */
	/* margin: -1px;
	border: 0;
	padding: 0; */
	/* white-space: nowrap; */
	clip-path: inset(100%);
	overflow: hidden;
}

.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.20;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.text {}

.header {
	color: #2E2F42;
}

.header-menu {}

.header-menu-logo {
	color: #4D5AE5;
}

.header-menu-logo-black {
	color: #2E2F42;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
	font-weight: 500;
	color: #2E2F42;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
	color: #404BBF;
}


.header-address {
	font-style: normal;
}


.header-address-item {}

.header-address-link {
	color: #434455;
}

.header-address-link:hover {
	color: #404BBF;
}

.mian {
	color: #2E2F42;
}

.hero {
	background-color: #2E2F42;
}

.hero-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #FFFFFF;
}

.hero-button {
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.50;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background-color: #4D5AE5;
	cursor: pointer;
}

.hero-button:hover {
	background-color: #404BBF;
}

.hero-button:focus {
	background-color: #404BBF;
}

.skills {
	background-color: #F4F4FD;

}

.skills-list {}

.skills-item {}

.skills-subtitle {
	text-align: center;
	text-transform: capitalize;
}

.skills-text {
	text-align: center;
	text-transform: capitalize;
}


.team {
	background-color: #F4F4FD;
}

.team-title {
	text-align: center;
	text-transform: capitalize;
}

.team-list {}

.team-item {}

.team-img {}

.team-subtitle {
	text-transform: capitalize;
}

.team-text {
	text-transform: capitalize;
}


.portfolio {}

.portfolio-title {
	text-align: center;
	text-transform: capitalize;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
	text-transform: capitalize;
}

.portfolio-text {
	text-transform: capitalize;
}


.footer {
	background-color: #2E2F42;
}

.footer-logo {
	color: #4D5AE5;
	line-height: 1.17;
}

.footer-logo-white {
	color: #F4F4FD;
}

.footer-text {
	color: #F4F4FD;
}